<h2>사용자 정보</h2>

<table>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>이름</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td>UidHash</td>
    <td><%= @user.uid_hash %></td>
  </tr>

  <tr>
    <td>포인트</td>
    <td><%= @user.reward %></td>
  </tr>

  <tr>
    <td>생성일</td>
    <td><%= @user.created_at %></td>
  </tr>

  <tr>
    <td>수정일</td>
    <td><%= @user.updated_at %></td>
  </tr>
</table>

<br>
<% if current_admin.has_super_publisher? %>
  <%= link_to "수정", edit_user_path(@user) %>
  <%= link_to "삭제", user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: "해당 사용자를 삭제하시겠습니까?"
  } %>
<% end %>

<a href="/users">목록</a>
