<h2>UserInfo</h2>

<table>
  <tr>
    <td>Email</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Name</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <td>UidHash</td>
    <td><%= @user.uid_hash %></td>
  </tr>

  <tr>
    <td>Reward</td>
    <td><%= @user.reward %></td>
  </tr>

  <tr>
    <td>CreatedAt</td>
    <td><%= @user.created_at %></td>
  </tr>

  <tr>
    <td>UpdatedAt</td>
    <td><%= @user.updated_at %></td>
  </tr>
</table>

<br>
<a href="/users">Users</a>
