<h1>#유저 리워드 목록</h1>
<p>안녕하세요, <%= current_admin.email %></p>

<div>
  <%= form_tag("/user_rewards", method: :get) do %>
    <%= label_tag("Trx_id: ") %>
    <%= text_field_tag(:trx_id, params[:trx_id]) %>

    <%= label_tag("click_key: ") %>
    <%= text_field_tag(:click_key, params[:click_key]) %>

    <%= label_tag("uid_hash: ") %>
    <%= text_field_tag(:uid_hash, params[:uid_hash]) %>

    <%= label_tag("ad_title: ") %>
    <%= text_field_tag(:ad_title, params[:ad_title]) %>

    <%= label_tag("country: ") %>
    <%= text_field_tag(:country, params[:country]) %>

    <%= submit_tag("검색") %>
  <% end %>
</div>

<br>

<% if @user_rewards.present? %>
  <%= render 'user_rewards', user_rewards: @user_rewards  %>
<% else %>
  <p>검색 결과가 없습니다.</p>
<% end %>

<br>

<a href="/users">유저 목록</a>&nbsp;
